:root {
  --font-logo: "Leto";
  --font-title: "Montserrat", sans-serif;
  --font-txt: "Sentinel";
  --font-author: "Courier";
  --font-medium: calc(1.8rem + 0.6vmin);
  --font-h1: calc(2.6rem + 0.6vmin);
  --space-nav: 40px;
  --space-footer: 42px;
  --space-70: 0px 0px 76px 0px;
}
