@import "../../styles/mixins";
.main-page {
  .container {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: var(--space-70);
    .container-author-main {
      display: grid;
      gap: 22px;

      span {
        @include span-article;
      }

      h2 {
        text-align: left;
        cursor: pointer;
        padding: 10px 0px 0px 0px;
        font-size: 2.6rem;
        color: grey;
      }

      .active h2 {
        color: black;
      }

      p {
        padding: 0px;
      }
    }
  }
  .h2-main {
    padding: var(--space-70);
  }
}