@import "../../styles/mixins";
.comments-section {
  @include box-info;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 6px;
  background: #7387d0;
  transition: width 0.3s ease;
  z-index: 999;
}
