@import "../../styles/mixins";
.comments-section {
  @include box-info;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 6px;
  background: #7387d0;
  transition: width 0.3s ease;
  z-index: 999;
}

.article-main-container {
  text-align: center;
  .article-content {
    word-wrap: break-word;
  }
  .info-user-article {
    display: flex;
    padding-bottom: 50px;
  }
  span {
    font-family: var(--font-author);
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
  }
}
