@import "../../styles/mixins";

.userProfile-main {
  display: grid;
  gap: 60px;
  .information-container {
    @include box-info;
    padding: 40px;
    .title-info-icon {
      display: flex;
      justify-content: center;
      gap: 24px;
      img {
        max-width: 34px;
        max-height: 34px;
      }
    }
  }

  .container-profil {
    display: flex;

    p {
      padding: 30px;
      font-family: var(--font-author);
      text-align: left;
    }
  }
}
.button-new-post {
  text-align: center;
  padding: 34px 0px 23px 0px;
}
button {
  width: 287px;
}
.Created-Post {
  h2 {
    padding-bottom: 36px;
  }
  .button-new-post {
    padding-top: 68px;
  }

  select {
    font-size: 1.62em;
    padding: 3px;
    border-radius: 3px;
    font-family: var(--font-author);
  }
  form {
    display: grid;
    gap: 22px;
    padding-bottom: 72px;
    .info-box-article {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .quill {
      p {
        max-width: 1111px;
      }
    }
    input {
      font-family: var(--font-author);
      font-size: 1.62em;
      padding: 5px;
      border-radius: 3px;
    }
    label {
      font-size: 16px;
      font-family: var(--font-title);
    }
  }

  .ql-editor p {
    font-size: 18px;
  }
}
#articleImagesLabel {
  padding-top: 44px;
}

@media screen and (max-width: 850px) {
  .userProfile-main .container-profil {
    display: grid;
  }
}
